@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Bebas+Neue&family=Fjalla+One&family=New+Amsterdam&family=Playfair+Display:wght@400..900&display=swap');



h1 {font-family: "Bebas Neue", sans-serif; font-weight: 500; color: black; text-align: center;
}



h3 {font-family: "Fjalla One", sans-serif; color: #43291f;}

body {font-family: "Playfair Display", serif; background-color: #adc178; color: #432818; text-align: justify;
}

h4 {font-family: "Fjalla One", sans-serif;
}



